<!-- Herencia -->
{% extends 'Algoritime_app/base.html' %}

<!-- Importamos static -->
{% load static %}

{% block title%} 
    Decimal a Octal
{% endblock %}

<!-- Bloque css -->

{% block css%}
    <link rel="stylesheet" href="{% static 'app/css/decimalOctal.css' %}">
{% endblock %}

<!-- Importamos static -->
{% load static %}

{% block content%}
<main>
    <h1 class="degradado">Decimal a Octal</h1>
    <form>
        <input id="InputBinario" type="text" placeholder="Ingrese valor decimal">
        <input id="convBinDec" type="button" value="Convertir">
    </form>

    <h3 class="resultado">Resultado: </h3>
    <h4 class="numResultado" id="resultado">  </h4>
    <div>
        <div class="Divprocedimiento">
            
            <div class="procedimiento">
                <h3>Procedimiento</h3>
                <h5 class="h5Azul">1.Dividimos el numero ÷ 8, usaremos solo el valor entero.</h5>
                <div class="NumDerecha" id="Ordenados">
                    
                </div>
                <h5 class="h5Rojo">2.Multiplicamos el resultado x 8.</h5>
               <!--  <div class="NumDerecha" id="PonteciasNum">
                    
                </div> -->
                <div class="NumDerecha" id="PonteciasDos">
                    
                </div>
                <h5 class="h5Verde">3.El resultado lo restaremos del numero inicial.</h5>
                <div class="NumDerecha" id="Multiplicacion">

                </div>
                <h5 class="h5Amarrillo">4.Revertimos el orden de los resultados.</h5>
                <div class="NumDerecha NumIzquierda" id="Resultados">
                    
                </div>
                <h5 class="h5Azulbajo">4.Unimos todos los números</h5>
                <h4 id="resultado2" class="Resultado2"></h4>
                <!-- Vista Ocultando Resultados -->
                <div id="noMostrar" class="NoMostrar activo">
                    <button id="MostrarResultados">Mostrar Resultados</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="VentanaEmergente">
    <div class="Card">
        <h5 id="MensajeVentana">Texto Mensaje</h5>
        <button id="CerrarVentana">Cerrar</button>
    </div>
</div>
{% endblock%}

{% block JavaScript %}
<!-- Scripts de pagina -->
<script src="{% static 'app/js/main/decimalOtal.js' %}"></script>
{% endblock %}